# Verwerken bestanden van de SNS bank

De bestanden bevinden zicht in onderstaande directory:
'C:\\Users\hans_\\OneDrive - ICT-OKE BV\\ICTOK\\Facturatie\\scans\\SNS_CVS\\'

Als bestansnaam wordt gebruikt:
JAN-FEB-MAR-APR-MEI-JUN-JUL-AUG-SEP-OCT-NOV-DEC

Bijv.de inkomende file is:
MAR-2018.csv
De uitgaande file is:
MAR-2018-OK.csv

In [10]:
import numpy as np 
import pandas as pd

In [11]:
df = pd.read_csv('C:\\Users\hans_\\OneDrive - ICT-OKE BV\\ICTOK\\Facturatie\\scans\\SNS_CSV\\INFILE.csv', header=None)

In [12]:
df.head(3)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,01-03-2018,NL65SNSB0960913483,DE12700202700010011683,allianz nederland levensve,NaN,NaN,NaN,EUR,49818.27,EUR,-334.88,01-03-2018,01-03-2018,9714,INC,31725821,NaN,'Europese incasso door:Allianz Nederland Leven...,5
1,01-03-2018,NL65SNSB0960913483,BE07220078088066,vloc bvba,NaN,NaN,NaN,EUR,49483.39,EUR,9440.00,01-03-2018,01-03-2018,8809,OVB,31749466,NaN,'BE07220078088066-VLOC BVBA-2018001',5
2,02-03-2018,NL65SNSB0960913483,NL86INGB0002445588,belastingdienst,NaN,NaN,NaN,EUR,58923.39,EUR,-3338.00,02-03-2018,02-03-2018,9721,ACC,30397436,'2818592926801010','CUR 2818592926801010',5

Select only the columns you need

In [13]:
columns = [0, 2, 3, 17, 10]
df1 = df.reindex(columns=columns)

In [14]:
df1[10] = df[10].abs()
df1[17] = df1[17].str.replace(r"Europese incasso door:", "")
df1[17] = df1[17].str.replace(r"/TRTP/Zakelijke Europese Incasso/CSID/NL36ZZZ340698640000/NAME/MULTI TANK CARD BV/MARF/34069864MTC001709/REMI/Relatienummer 1709/", "")

In [16]:
df1[4] = df1[2].map(str) + "  " + df1[3] + "  " + df1[17]
columns = [0, 10, 4]
df2 = df1.reindex(columns=columns)

In [17]:
df2.head(10)

           0        10                                                 4
0  01-03-2018   334.88  DE12700202700010011683  allianz nederland leve...
1  01-03-2018  9440.00  BE07220078088066  vloc bvba  'BE07220078088066...
2  02-03-2018  3338.00  NL86INGB0002445588  belastingdienst  'CUR 2818...
3  02-03-2018  3338.00  NL86INGB0002445588  belastingdienst  'CUR 9818...
4  02-03-2018    69.98  NL27INGB0000026500  bol com b v  '455345990001...
5  05-03-2018    98.79  NL69VOWA0434018236  vvs assuradeuren b.v.  'VV...
6  05-03-2018    72.36  NL41INGB0000467598  kpn b.v.  'KPN B.V. NL-Fac...
7  06-03-2018   143.93  NL12COBA0733959555  t-mobile netherlands b.v. ...
8  07-03-2018   118.12  NL44ABNA0548041814  multi tank card bv  'Factu...
9  07-03-2018    12.95  NL93ABNA0499028481  woonveilig bv  'WOONVEILIG...

In [18]:
writer = pd.ExcelWriter('C:\\Users\hans_\\OneDrive - ICT-OKE BV\\ICTOK\\Facturatie\\scans\\SNS_CSV\\output_{}.xlsx'.format(pd.datetime.today().strftime('%y%m%d-%H%M%S')))

In [19]:
df2.to_excel(writer, index = False)
writer.save()